<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="c42f191a-97c4-4e2d-aed5-ee0d3c331954"
    Publisher="CN=aabrown"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c42f191a-97c4-4e2d-aed5-ee0d3c331954" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>LifeFitApp</DisplayName>
    <PublisherDisplayName>aabrown</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="LifeFitApp.App">
      <uap:VisualElements
        DisplayName="FitList"
        Square150x150Logo="Assets\FitListAppIcon.png"
        Square44x44Logo="Assets\FitListAppIcon.png"
        Description="LifeFitApp"
        BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>